// Default light theme

// you have to add this class in order to work!
.ivy-theme-default {
  // font family to be used in most places
  // - recommended font is poppins for this theme
  //   (or at least something similar)
  // - if not found, fallback to (basic) arial
  --ivy-font-family: 'Poppins', Arial, Helvetica, sans-serif;

  // font size to be used for regular text
  --ivy-font-size-md: 1rem;
  // font size to be used for bigger text like buttons
  --ivy-font-size-lg: 1.2rem;

  // font weight to be used for regular text
  --ivy-font-weight: 400;

  // default text color
  --ivy-color-fg: rgb(30, 35, 45);

  // text on primary color
  --ivy-color-fg-primary: rgb(250, 250, 250);
  // text on danger color
  --ivy-color-fg-danger: rgb(250, 250, 250);

  // primary theme color
  --ivy-color-primary: rgb(100, 120, 250);
  // darker primary theme color (just a bit)
  --ivy-color-primary-darker: rgb(75, 100, 200);
  // lighter primary theme color (just a bit, too)
  --ivy-color-primary-lighter: rgb(125, 150, 250);

  // danger theme color
  --ivy-color-danger: rgb(250, 80, 70);
  // darker theme color
  --ivy-color-danger-darker: rgb(230, 60, 50);
  // lighter theme color
  --ivy-color-danger-lighter: rgb(255, 120, 110);

  // spacing used for margins, paddings and gaps
  --ivy-spacing-sm: 4px;
  --ivy-spacing-md: 8px;

  // medium corner radius
  --ivy-radius-md: 8px;

  // hover background - used for outlined buttons
  --ivy-color-hover: rgba(0, 0, 0, 0.1);

  // line width used for borders
  --ivy-line-width: 1px;
}
