// Press button components

// internal button base
// - common stuff to all buttons
// - avoid using externally
@mixin base-button($text-color) {
  user-select: none;

  font-family: var(--ivy-font-family);
  font-size: var(--ivy-font-size-lg);
  font-weight: var(--ivy-font-weight);
  color: $text-color;

  padding-top: var(--ivy-spacing-sm);
  padding-bottom: var(--ivy-spacing-sm);
  padding-left: var(--ivy-spacing-md);
  padding-right: var(--ivy-spacing-md);

  border-radius: var(--ivy-radius-md);
}

// filled button template
@mixin filled-button($text-color, $color, $hover-color, $active-color) {
  @include base-button($text-color);

  transition: background 200ms;
  background-color: $color;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }
}

// outlined button template
@mixin outline-button($outline-color) {
  @include base-button(var(--ivy-color-fg));

  border-style: solid;
  border-color: $outline-color;
  border-width: var(--ivy-line-width);

  transition: background 200ms;
  background-color: transparent;

  &:hover:not(:active) {
    background-color: var(--ivy-color-hover);
  }
}

// filled button
// - uses filled color as the fill
.ivy-button,
.ivy-button-filled {
  @include filled-button(
    var(--ivy-color-fg-primary),
    var(--ivy-color-primary),
    var(--ivy-color-darker-lighter),
    var(--ivy-color-primary-lighter)
  );
}

// filled danger button
// - uses danger color as the fill
.ivy-button-danger,
.ivy-button-filled-danger,
.ivy-button-danger-filled {
  @include filled-button(
    var(--ivy-color-fg-danger),
    var(--ivy-color-danger),
    var(--ivy-color-danger-lighter),
    var(--ivy-color-danger-lighter)
  );
}

// outline primary button
// - uses primary color as the outline
.ivy-button-outline,
.ivy-button-outline-primary,
.ivy-button-primary-outline {
  @include outline-button(var(--ivy-color-primary));
}

// outline danger button
// - uses danger color as the outline
.ivy-button-outline-danger,
.ivy-button-danger-outline {
  @include outline-button(var(--ivy-color-danger));
}
