name: Deploy Demo to gh-pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Setup PNPM
        run: |
          npm install -g pnpm

      - name: Install dependencies and build
        run: |
          pnpm install

      - name: Prepare files
        run: |
          rm -rf publish
          mkdir -p publish/dist/themes
          cp demo.html publish/index.html
          cp dist/all.css publish/dist/all.css
          cp dist/themes/default.css publish/dist/themes/default.css

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./publish
